/* The font file in this archive was created by Andrew Tyler www.AndrewTyler.net and font@andrewtyler.net
License: http://creativecommons.org/licenses/by-sa/3.0/us/

Use at 12 or 24 px size with anti-alising off for best results.

Creative Commons BY-SA license.

Not affiliated or endorsed by Mojang in anyway.  */

@font-face {
    font-family: "minecraftia";
    src: url("font/Minecraftia.ttf");
}

* {
    font-family: "minecraftia", monospace;
    font-size: 1em;
}

button {
    width: auto;
    padding: 0.5em;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    box-shadow: -3px -3px rgba(0, 0, 0, 0.4) inset,
        3px 3px rgba(255, 255, 255, 0.4) inset;
    background-color: gray;
    background-image: url("res/buttonTexture.png");
    color: white;
    text-shadow: 3px 3px rgb(30, 30, 30);
}

button.big {
    font-size: 1.5em;
}

button.enchant_lv_button {
    width: 20%;
    /* padding-top: 100%; */
    color: white;
}

button.clicked {
    color: red;
}

body {
    background-color: darkgray;
}

input[type="checkbox"] {
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
}

label {
    width: auto;
    color: lightgray;
}

input[type="number"] {
    margin-left: 10px;
    width: 3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.left {
    float: left;
}

.right {
    float: right;
}

.big-text {
    font-size: 1.1em;
}

textarea {
    width: 100%;
    min-height: 100px;
    resize: none;
}

select {
    -o-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0.2em;
    /* text-align: center; */
    width: 100%;
    font-size: 100%;
}

option {
    width: 100%;
    font-size: 100%;
}

.row {
    display: flex;
}

.column-6 {
    flex: 60%;
}

.column-4 {
    flex: 40%;
}

.enchant_name {
    padding: 0.2em;
    display: flex;
    justify-content: left;
    align-items: center;
    /* border-style: solid; */
}

.conflicting {
    color: yellow;
}

.center {
    text-align: center;
    /* margin: auto; */
}

.section {
    display: block;
    width: auto;
    padding: 10px;
    color: white;
}

.section.bgcolor {
    background-color: rgb(80, 80, 80);
}

.container {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    /* text-align: center; */
    /* align-items: center; */
    /* justify-content: center; */
    width: auto;
}

.flex {
    display: flex;
}

.hover {
    border-bottom: 2px dotted white;
}

#total_cost {
    color: greenyellow;
    font-size: 2em;
}
#result_tool {
    color: yellow;
    font-size: 1.3em;
}

/* Mobile */
@media only screen and (max-width: 768px) {
    .container {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 1px;
        margin-right: 1px;
    }

    .section.no-padding {
        padding: 0px;
    }

    .plus-sign {
        margin: auto;
        text-align: center;
        justify-content: center;
        width: auto;
        font-size: 2em;
        color: white;
        padding: 0px;
        margin: 0px;
    }

    label {
        font-size: 60%;
    }

    input[type="number"] {
        margin-left: 10px;
        padding-left: 0.1em;
        padding-right: 0.1em;
        padding-top: 0.1em;
        padding-bottom: 0.1em;
    }
}

/* Desktop */
@media only screen and (min-width: 768px) {
    body {
        display: flex;
    }
    .nav-main {
        width: 70%;
    }

    .nav-side {
        width: 30%;
    }

    .flex-wrapper {
        display: flex;
    }

    .section {
        display: block;
        margin: 10px;
        width: auto;
    }

    .section.full-width {
        width: 100%;
    }

    button:hover:not(.enchant_remove) {
        background-image: url("res/buttonHover.png");
    }

    .plus-sign {
        display: inline-flex;
        align-items: center;

        width: 5%;
        font-size: 2em;
        color: white;
    }

    .big-text {
        font-size: 1.25em;
    }
}
