/* The font file in this archive was created by Andrew Tyler www.AndrewTyler.net and font@andrewtyler.net
License: http://creativecommons.org/licenses/by-sa/3.0/us/

Use at 12 or 24 px size with anti-alising off for best results.

Creative Commons BY-SA license.

Not affiliated or endorsed by Mojang in anyway.  */

@font-face {
    font-family: "minecraftia";
    src: url("font/Minecraftia.ttf");
}

* {
    font-family: "minecraftia", monospace;
    font-size: 1em;
}

input.chk-btn {
    display: none;
}

input.chk-btn + label {
    border: 1px solid grey;
    background: rgb(102, 102, 102);
    padding: 5px 8px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
  }
  input.chk-btn:not(:checked) + label:hover {
    box-shadow: 0px 1px 3px;
  }
  input.chk-btn + label:active,
  input.chk-btn:checked + label {

    box-shadow: 0px 0px 3px inset;
    background: rgb(142, 168, 237);
  }

button {
    width: auto;
    padding: 0.5em 0;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    box-shadow: -3px -3px rgba(0, 0, 0, 0.4) inset,
        3px 3px rgba(255, 255, 255, 0.4) inset;
    background-color: gray;
    background-image: url("res/buttonTexture.png");
    color: white;
    text-shadow: 3px 3px rgb(30, 30, 30);
}

button.big {
    font-size: 1.5em;
}

button.enchant_lv_button {
    width: 20%;
    /* padding-top: 100%; */
    color: white;
}

button.clicked {
    color: red;
}

body {
    background-color: darkgray;
}


.header {
    display: flex;
    justify-content: space-between;
}

.type {
    padding: 1em 0;
}

input[type="checkbox"] {
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
}

label {
    width: auto;
    color: lightgray;
}

input[type="number"] {
    margin-left: 10px;
    width: 3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.left {
    float: left;
}

.right {
    float: right;
}

.big-text {
    font-size: 1.1em;
}

textarea {
    width: 100%;
    /* min-height: 100px; */
    /* resize: none; */
}

select {
    -o-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0.5em;
    /* text-align: center; */
    width: 100%;
    font-size: 100%;
    text-align: center;
    border-radius: 2px;
}


option {
    width: 100%;
    font-size: 100%;
}

.row {
    display: flex;
    align-items: center;
}

.column-6 {
    flex: 60%;
}

.column-4 {
    flex: 40%;
}

.enchant_name {
    padding: 0.2em;
}

.conflicting {
    color: yellow;
}

.center {
    text-align: center;
    /* margin: auto; */
}

.section {
    display: block;
    width: 100%;
    height: fit-content;
    padding: 2em;
    color: white;
}

.section.bgcolor {
    background-color: rgb(80, 80, 80);
}

.container {
    margin: 2em;
    /* text-align: center; */
    /* align-items: center; */
    /* justify-content: center; */
    width: auto;
}

.flex {
    display: flex;
}

.flex.vertical {
    flex-direction: column;
}

.flex.flex-center {
    justify-content: center;
    align-items: center;
}

.hover {
    border-bottom: 2px dotted white;
}

#total_cost {
    color: greenyellow;
    font-size: 2em;
}
#result_tool {
    color: yellow;
    font-size: 1.3em;
}

.plus-sign {
    display: inline-flex;
    align-items: center;
    padding: 10px;
    width: 5%;
    font-size: 2em;
    color: white;
}

.icon-wrapper {
    height: 3em;
    margin-right: 1em;
}

.tool-icon {
    /* position: absolute; */
    height: 100%;
    width: auto;
    aspect-ratio: 1;
    /* background-color: aqua; */
}

footer {
    font-size: x-small;
    color:rgb(228, 228, 228);
    text-align: end;
}

.flex.nowrap {
    flex-wrap: nowrap;
}

/* Mobile */
@media only screen and (max-width: 1200px) {

    .container {
        margin: 0.1em;
    }

    .section {
        padding: 1em;
    }

    .flex {
        flex-wrap: wrap;
    }

    .section.no-padding {
        padding: 0px;
    }

    .enchant_name {
        font-size: smaller;
    }
    

    label {
        font-size: 60%;
    }

    input[type="number"] {
        margin-left: 10px;
        padding-left: 0.1em;
        padding-right: 0.1em;
        padding-top: 0.1em;
        padding-bottom: 0.1em;
    }

    .column-6 {
        flex: 50%;
    }
    
    .column-4 {
        flex: 50%;
    }

}

/* Desktop */
@media only screen and (min-width: 1200px) {

    .nav-main {
        width: 70%;
    }

    .nav-side {
        width: 30%;
        padding: 20px;
    }

    .section {
        overflow: auto;
    }

    button:hover:not(.enchant_remove) {
        background-image: url("res/buttonHover.png");
    }



    .big-text {
        font-size: 1.25em;
    }
}
